@charset "UTF-8";
@font-face {
  font-family: "flaticon";
  src: url("flaticon-1882d.ttf?4edcaa80cc3cba62a820b7d6fbfb9e36") format("truetype"), url("../../../page-error-404.html?4edcaa80cc3cba62a820b7d6fbfb9e36") format("woff"), url("../../../page-error-404.html?4edcaa80cc3cba62a820b7d6fbfb9e36") format("woff2"), url("../../../page-error-404.html?4edcaa80cc3cba62a820b7d6fbfb9e36#iefix") format("embedded-opentype"), url("../../../page-error-404.html?4edcaa80cc3cba62a820b7d6fbfb9e36#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-dashboard:before {
  content: "";
}

.flaticon-dashboard-1:before {
  content: "";
}

.flaticon-more:before {
  content: "";
}

.flaticon-mobile-chat:before {
  content: "";
}

.flaticon-developer:before {
  content: "";
}

.flaticon-layout:before {
  content: "";
}

.flaticon-notification:before {
  content: "";
}

.flaticon-booking:before {
  content: "";
}

.flaticon-add:before {
  content: "";
}

.flaticon-app-development:before {
  content: "";
}

.flaticon-add-1:before {
  content: "";
}

.flaticon-application:before {
  content: "";
}

.flaticon-app:before {
  content: "";
}

.flaticon-coding:before {
  content: "";
}

.flaticon-applications:before {
  content: "";
}

.flaticon-business-report:before {
  content: "";
}

.flaticon-dashboard-2:before {
  content: "";
}

.flaticon-dashboard-3:before {
  content: "";
}

.flaticon-dashboard-interface:before {
  content: "";
}

.flaticon-dashboard-4:before {
  content: "";
}

.flaticon-bar-chart:before {
  content: "";
}

.flaticon-evolution:before {
  content: "";
}

.flaticon-pie-chart:before {
  content: "";
}

.flaticon-bar-chart-1:before {
  content: "";
}

.flaticon-pie-chart-1:before {
  content: "";
}

.flaticon-line-chart:before {
  content: "";
}

.flaticon-charts:before {
  content: "";
}

.flaticon-growth:before {
  content: "";
}

.flaticon-arrow-chart:before {
  content: "";
}

.flaticon-pie-chart-2:before {
  content: "";
}

.flaticon-bootstrap:before {
  content: "";
}

.flaticon-bootstrap-1:before {
  content: "";
}

.flaticon-web-plugin:before {
  content: "";
}

.flaticon-plugin:before {
  content: "";
}

.flaticon-web-plugin-1:before {
  content: "";
}

.flaticon-plugin-1:before {
  content: "";
}

.flaticon-plugin-2:before {
  content: "";
}

.flaticon-addon:before {
  content: "";
}

.flaticon-puzzle-piece:before {
  content: "";
}

.flaticon-plugin-3:before {
  content: "";
}

.flaticon-smartphone:before {
  content: "";
}

.flaticon-widget:before {
  content: "";
}

.flaticon-mobile-app:before {
  content: "";
}

.flaticon-squares:before {
  content: "";
}

.flaticon-menu:before {
  content: "";
}

.flaticon-menu-1:before {
  content: "";
}

.flaticon-contact-form:before {
  content: "";
}

.flaticon-sign-up:before {
  content: "";
}

.flaticon-google-forms:before {
  content: "";
}

.flaticon-clipboard:before {
  content: "";
}

.flaticon-online-registration:before {
  content: "";
}

.flaticon-list:before {
  content: "";
}

.flaticon-website:before {
  content: "";
}

.flaticon-checklist:before {
  content: "";
}

.flaticon-file:before {
  content: "";
}

.flaticon-contact-form-1:before {
  content: "";
}

.flaticon-check-list:before {
  content: "";
}

.flaticon-form:before {
  content: "";
}

.flaticon-form-1:before {
  content: "";
}

.flaticon-contact-form-2:before {
  content: "";
}

.flaticon-registration-form:before {
  content: "";
}

.flaticon-request:before {
  content: "";
}

.flaticon-result:before {
  content: "";
}

.flaticon-filling-form:before {
  content: "";
}

.flaticon-table:before {
  content: "";
}

.flaticon-menu-2:before {
  content: "";
}

.flaticon-table-1:before {
  content: "";
}

.flaticon-table-2:before {
  content: "";
}

.flaticon-landing-page:before {
  content: "";
}

.flaticon-web-page:before {
  content: "";
}

.flaticon-website-content:before {
  content: "";
}

.flaticon-landing-page-1:before {
  content: "";
}

.flaticon-browser:before {
  content: "";
}

.flaticon-landing-page-2:before {
  content: "";
}

.flaticon-home-page:before {
  content: "";
}

.flaticon-landing-page-3:before {
  content: "";
}

.flaticon-website-1:before {
  content: "";
}

.flaticon-website-design:before {
  content: "";
}

.flaticon-web:before {
  content: "";
}

.flaticon-browser-1:before {
  content: "";
}

.flaticon-landing-page-4:before {
  content: "";
}

.flaticon-home:before {
  content: "";
}

.flaticon-page:before {
  content: "";
}

.flaticon-user:before {
  content: "";
}

.flaticon-caret-arrow-up:before {
  content: "";
}

.flaticon-arrowhead-pointing-to-the-right:before {
  content: "";
}

.flaticon-arrow-up:before {
  content: "";
}

.flaticon-chevron:before {
  content: "";
}

.flaticon-chevron-1:before {
  content: "";
}

.flaticon-down-arrow:before {
  content: "";
}

.flaticon-up-arrow:before {
  content: "";
}

.flaticon-down-arrow-1:before {
  content: "";
}

.flaticon-caret:before {
  content: "";
}

.flaticon-up-arrow-angle:before {
  content: "";
}

.flaticon-up-arrow-1:before {
  content: "";
}

.flaticon-down-arrow-2:before {
  content: "";
}

.flaticon-right-arrow:before {
  content: "";
}

.flaticon-right-arrow-1:before {
  content: "";
}

.flaticon-arrow:before {
  content: "";
}

.flaticon-right:before {
  content: "";
}

.flaticon-left-arrow:before {
  content: "";
}

.flaticon-share:before {
  content: "";
}

.flaticon-arrow-1:before {
  content: "";
}

.flaticon-exchange:before {
  content: "";
}

.flaticon-up-arrow-2:before {
  content: "";
}

.flaticon-rewind:before {
  content: "";
}

.flaticon-fast-forward:before {
  content: "";
}

.flaticon-skip:before {
  content: "";
}

.flaticon-bell:before {
  content: "";
}

.flaticon-bell-1:before {
  content: "";
}

.flaticon-notification-1:before {
  content: "";
}

.flaticon-notification-2:before {
  content: "";
}

.flaticon-email:before {
  content: "";
}

.flaticon-email-1:before {
  content: "";
}

.flaticon-message:before {
  content: "";
}

.flaticon-messenger:before {
  content: "";
}

.flaticon-chat:before {
  content: "";
}

.flaticon-comment:before {
  content: "";
}

.flaticon-chatting:before {
  content: "";
}

.flaticon-message-1:before {
  content: "";
}

.flaticon-chat-1:before {
  content: "";
}

.flaticon-message-2:before {
  content: "";
}

.flaticon-customer-support:before {
  content: "";
}

.flaticon-message-3:before {
  content: "";
}

.flaticon-mail:before {
  content: "";
}

.flaticon-chat-2:before {
  content: "";
}

.flaticon-chat-3:before {
  content: "";
}

.flaticon-message-4:before {
  content: "";
}

.flaticon-mail-1:before {
  content: "";
}

.flaticon-messages:before {
  content: "";
}

.flaticon-messages-1:before {
  content: "";
}

.flaticon-chat-box:before {
  content: "";
}

.flaticon-mail-2:before {
  content: "";
}

.flaticon-mail-3:before {
  content: "";
}

.flaticon-mail-4:before {
  content: "";
}

.flaticon-email-2:before {
  content: "";
}

.flaticon-email-3:before {
  content: "";
}

.flaticon-email-4:before {
  content: "";
}

.flaticon-phone-call:before {
  content: "";
}

.flaticon-call:before {
  content: "";
}

.flaticon-call-1:before {
  content: "";
}

.flaticon-calling:before {
  content: "";
}

.flaticon-phone-call-1:before {
  content: "";
}

.flaticon-phone-call-2:before {
  content: "";
}

.flaticon-lighting:before {
  content: "";
}

.flaticon-electric:before {
  content: "";
}

.flaticon-battery:before {
  content: "";
}

.flaticon-calendar:before {
  content: "";
}

.flaticon-calendar-1:before {
  content: "";
}

.flaticon-calendar-2:before {
  content: "";
}

.flaticon-calendar-3:before {
  content: "";
}

.flaticon-calendar-4:before {
  content: "";
}

.flaticon-calendar-5:before {
  content: "";
}

.flaticon-calendar-6:before {
  content: "";
}

.flaticon-calendar-7:before {
  content: "";
}

.flaticon-user-1:before {
  content: "";
}

.flaticon-user-2:before {
  content: "";
}

.flaticon-user-3:before {
  content: "";
}

.flaticon-user-4:before {
  content: "";
}

.flaticon-account:before {
  content: "";
}

.flaticon-user-5:before {
  content: "";
}

.flaticon-logout:before {
  content: "";
}

.flaticon-logout-1:before {
  content: "";
}

.flaticon-logout-2:before {
  content: "";
}

.flaticon-logout-3:before {
  content: "";
}

.flaticon-logout-4:before {
  content: "";
}

.flaticon-clock:before {
  content: "";
}

.flaticon-clock-1:before {
  content: "";
}

.flaticon-clock-2:before {
  content: "";
}

.flaticon-wall-clock:before {
  content: "";
}

.flaticon-clock-3:before {
  content: "";
}

.flaticon-check:before {
  content: "";
}

.flaticon-check-1:before {
  content: "";
}

.flaticon-checked:before {
  content: "";
}

.flaticon-check-2:before {
  content: "";
}

.flaticon-check-mark:before {
  content: "";
}

.flaticon-accept:before {
  content: "";
}

.flaticon-check-3:before {
  content: "";
}

.flaticon-check-4:before {
  content: "";
}

.flaticon-check-5:before {
  content: "";
}

.flaticon-checking-box-with-a-checkmark:before {
  content: "";
}

.flaticon-location:before {
  content: "";
}

.flaticon-location-1:before {
  content: "";
}

.flaticon-forward:before {
  content: "";
}

.flaticon-arrow-2:before {
  content: "";
}

.flaticon-forward-1:before {
  content: "";
}

.flaticon-forward-2:before {
  content: "";
}

.flaticon-reply:before {
  content: "";
}

.flaticon-reply-1:before {
  content: "";
}

.flaticon-reply-2:before {
  content: "";
}

.flaticon-reply-3:before {
  content: "";
}

.flaticon-camera:before {
  content: "";
}

.flaticon-camera-1:before {
  content: "";
}

.flaticon-like:before {
  content: "";
}

.flaticon-like-1:before {
  content: "";
}

.flaticon-love:before {
  content: "";
}

.flaticon-heart:before {
  content: "";
}

.flaticon-like-2:before {
  content: "";
}

.flaticon-heart-1:before {
  content: "";
}

.flaticon-send:before {
  content: "";
}

.flaticon-send-1:before {
  content: "";
}

.flaticon-send-2:before {
  content: "";
}

.flaticon-send-3:before {
  content: "";
}

.flaticon-paper-plane:before {
  content: "";
}

.flaticon-exclamation:before {
  content: "";
}

.flaticon-danger:before {
  content: "";
}

.flaticon-message-5:before {
  content: "";
}

.flaticon-clipboard-1:before {
  content: "";
}

.flaticon-exclamation-mark:before {
  content: "";
}

.flaticon-draft:before {
  content: "";
}

.flaticon-draft-1:before {
  content: "";
}

.flaticon-notes:before {
  content: "";
}

.flaticon-delete:before {
  content: "";
}

.flaticon-bin:before {
  content: "";
}

.flaticon-plus:before {
  content: "";
}

.flaticon-plus-1:before {
  content: "";
}

.flaticon-plus-2:before {
  content: "";
}

.flaticon-plus-3:before {
  content: "";
}

.flaticon-plus-4:before {
  content: "";
}

.flaticon-plus-sign:before {
  content: "";
}

.flaticon-star:before {
  content: "";
}

.flaticon-star-1:before {
  content: "";
}

.flaticon-facebook:before {
  content: "";
}

.flaticon-facebook-1:before {
  content: "";
}

.flaticon-facebook-2:before {
  content: "";
}

.flaticon-twitter:before {
  content: "";
}

.flaticon-twitter-1:before {
  content: "";
}

.flaticon-twitter-2:before {
  content: "";
}

.flaticon-linkedin:before {
  content: "";
}

.flaticon-linkedin-1:before {
  content: "";
}

.flaticon-plus-5:before {
  content: "";
}

.flaticon-google-plus:before {
  content: "";
}

.flaticon-youtube:before {
  content: "";
}

.flaticon-youtube-1:before {
  content: "";
}

.flaticon-youtube-2:before {
  content: "";
}

.flaticon-instagram:before {
  content: "";
}

.flaticon-instagram-1:before {
  content: "";
}

.flaticon-pinterest:before {
  content: "";
}

.flaticon-pinterest-1:before {
  content: "";
}

.flaticon-google-glass-logo:before {
  content: "";
}

.flaticon-snapchat:before {
  content: "";
}

.flaticon-snapchat-1:before {
  content: "";
}

.flaticon-whatsapp:before {
  content: "";
}

.flaticon-whatsapp-1:before {
  content: "";
}

.flaticon-whatsapp-2:before {
  content: "";
}
